@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tangerine&display=swap");

*
{
  margin: 0;
  font-family: sans-serif;
  color: black;
  background-color: white;
}